<div class="Login">
  <div class="BemVindo" ><h1>Bem Vindos</h1></div>
  <form *ngIf="!isValid" [formGroup]="Login" (ngSubmit)="Submit(Login)">
    <div class="form-group">
      <label for="Color" class="col-form-label">Tipo de Documento</label>
      <input autocomplete="off" type="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" required
        class="form-control" name="doc_type" formControlName="doc_type">
    </div>
    <div class="form-group">
      <label for="doc_number" class="col-form-label">Número do Documento</label>
      <input autocomplete="off" type="text" required  class="form-control" name="doc_number"
        formControlName="doc_num">
    </div>
    <div class="form-group">
      <label for="pass" class="col-form-label">Senha</label>
      <input autocomplete="off" type="password" required  class="form-control" name="pass" formControlName="pass">
      </div>
    <div class="division">
      <button type="submit"   class="btn btn-primary">Entrar</button>
    </div>
    <div class="Register" (click)="Register()">
      <p>Registre-se aqui</p>
    </div>
  </form>
  <form *ngIf="isValid" [formGroup]="SignIn" (ngSubmit)="(AddUser(SignIn))">
    <div class="form-group">
      <label for="Color" class="col-form-label">Nome de Usuário</label>
      <input autocomplete="off" type="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" required
        class="form-control" name="user" formControlName="user">
    </div>
    <div class="form-group">
      <label for="Color" class="col-form-label">Tipo de Documento</label>
      <input autocomplete="off" type="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" required
        class="form-control" name="doc_type" formControlName="doc_type">
    </div>
    <div class="form-group">
      <label for="doc_number" class="col-form-label">Número do Documento</label>
      <input autocomplete="off" type="text" required  class="form-control" name="doc_num"
        formControlName="doc_num">
    </div>
    <div class="form-group">
      <label for="pass" class="col-form-label">Senha</label>
      <input autocomplete="off" type="password" required  class="form-control" name="pass" formControlName="pass">
      </div>
    <div class="division">
      <button type="submit"  class="btn btn-primary">Registrar</button>
    </div>
  </form>
</div>
