*{
  overflow: hidden !important;
}

input{
  border: none;
  background-color: transparent!important;
  color: white!important;
  border-bottom: 1px solid white!important;
  width: 20rem;
}

form{
  color: white;
  width: 40%;
  padding-top: 10rem;
  padding-left: 1rem;
  background-color: #353a61;
}

.BemVindo{
  padding-top: 40vh;
  text-align: center;
  width: 60%;
  height: 100vh;
  margin: 1rem;
}

.Login{
  display: flex;
  width: 99vw;
  height: 99vh;
  padding-top: .5rem;
}

.Register{
  margin-top: 1rem;
  width: 20rem;
  text-align: center;
}

.Register:hover{
  cursor:pointer;
  color: red;
}

button{
  border-radius: 1rem;
  background-color: white;
  color: blue;
  width: 20rem;
}

label{
  color: white;
}


