*{
  margin: 0 auto;
  padding: 0 auto;
}

div{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;
  /* height: 5rem; */
  padding: 40px 0;
}

table {
  width: 80vw;
  text-align: center;
}

.line:hover{
  background-color: darkgrey;
}
