<app-login *ngIf="!showHeader" (LoginValid)="showHeader = $event;CategoriesComponent()"></app-login>
<div *ngIf="showHeader">
<div class="upper">
  <div class="meioe">
  <input class="search form-control" type="search" placeholder="Busca"/>
  <mat-icon class="photo">search</mat-icon>
  </div>
  <div class="meiod">
  <mat-icon class="photo">settings</mat-icon>
  <mat-icon class="photo">notifications</mat-icon>
  <div class="photo"></div>
  <h4 class="User">{{user}}</h4>
  </div>
</div>
<header >
  <tr>
    <td><mat-icon>home</mat-icon></td>
    <td><a routerLink="/categories" (click)="CategoriesComponent()">Inicio</a></td>
  </tr>
  <tr>
    <td><mat-icon>credit_card</mat-icon></td>
    <td>
      <a routerLink="/categories" (click)="CategoriesComponent()"> Cartões</a>
    </td>
  </tr>
  <tr>
    <td><mat-icon>money</mat-icon></td>
    <td>
      <a routerLink="/devices" (click)="DevicesComponent()">Empréstimos</a>
    </td>
  </tr>
  <tr>
    <td><mat-icon>swap_horiz</mat-icon></td>
    <td>
      <a routerLink="/operations" (click)="OperationsComponent()"> Operações</a>
    </td>
  </tr>
  <tr>
    <td><mat-icon>security</mat-icon></td>
    <td>
      <a routerLink="/categories" (click)="CategoriesComponent()"> Seguros</a>
    </td>
  </tr>
  <tr>
    <td><mat-icon>help_outline</mat-icon></td>
    <td>
      <a routerLink="/categories" (click)="CategoriesComponent()"> Ajuda</a>
    </td>
  </tr>
  <tr>
    <td><mat-icon>exit_to_app</mat-icon></td>
    <td>
      <a routerLink="/categories" (click)="CategoriesComponent()">Encerrar Seção</a>
    </td>
  </tr>
</header>
</div>

<router-outlet></router-outlet>
