* {
  margin: 0 auto;
  padding: 0 auto;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 2.5rem;
}

a:hover {
  background-color: palevioletred;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: cornflowerblue;
  height: 5rem;
}
