a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

mat-icon{
  font-size : 1.5rem !important ;
  color: white;
}

tr{
  padding: 0 auto;
  display: flex;
  width: 9rem;
  align-items: center;
  vertical-align: center;
}

td{
  vertical-align: center;
}



tr:hover {
  font-weight:bolder;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15rem;
  background-color: cornflowerblue;
  height: 99vh;
  position: fixed;
  padding-top: 10vh;
}
