<div class="devices">
  <select  style="width: 16rem;" class="form-control" [(ngModel)]="CategoryId" (ngModelChange)="GetWithId()" name="categories" >
    <option [ngValue]="null" disabled>Escolha a Categoria</option>
    <option *ngFor="let category of categories" [ngValue]="category.Id" name="Category">
     {{category.Id}} {{ category.Category }}
    </option>
  </select>
<button mat-raised-button style="height: 2.5rem" color="primary" (click)="(addItem())">Adicionar Dispositivo</button>
</div>
<div *ngIf="ShowTable">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">Id</th>
          <th colspan="2">Color</th>
          <th colspan="2">PartNumber</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="line" *ngFor="let device of itens">
          <td colspan="2">{{ device.Id }}</td>
          <td colspan="2">{{ device.Color }}</td>
          <td colspan="2">{{ device.PartNumber }}</td>
          <td colspan="1">
            <button mat-flat-button color="warn" (click)="deleteItem(device.Id)">
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="add" *ngIf="AddDevice">
  <form [formGroup]="Device" (ngSubmit)="Submit(Device)">
    <label for="categoriesTwo" class="col-form-label">Categoria:</label>
    <select required style="width: 16rem;" name="CategoriesTwo" class="form-control" [(ngModel)]="CategoryId" formControlName="CategoryId">
      <option [ngValue]="null" disabled >Escolha a Categoria</option>
      <option *ngFor="let category of categories" [ngValue]="category" name="SCategory">
        {{category.Id}} {{ category.Category }}
      </option>
    </select>
    <div class="form-group">
      <label for="Color" class="col-form-label">Cor:</label>
      <input type="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" required style="width: 16rem;"class="form-control" name="Color" formControlName="Color">
    </div>
    <div class="form-group">
      <label for="PartNumber" class="col-form-label">Número do Dispositivo</label>
      <input type="text" required style="width: 16rem;" class="form-control" name="PartNumber" formControlName="PartNumber">
    </div>
    <div class="division">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Cancelar</button>
      <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
  </form>
</div>
