*{
  margin: 0 auto;
  padding: 0 auto;
}

.devices{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  /* height: 5rem; */
  /* margin: 1rem auto; */
  padding: 13px 0;
}

table {
  width: 80vw;
  text-align: center;
}

.line:hover{
  background-color: darkgrey;
}

.add{
  padding: 2rem 0;
  margin-top: 4rem;
  width: 50vw;
  height: 52vh;
  border-radius: 20px;
  border: 1px groove gray;
}

label{
  width: 100%;
  font-size: 1rem;
text-align: center;
}

.division{
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
