<div class="devices">
<mat-form-field style="color: black" appearance="fill">
  <mat-label style="color: black">Selecione a Categoria</mat-label>
  <mat-select style="color: black" class="form-control" type="number" [(ngModel)]="CategoryId" (ngModelChange)="GetWithId()" name="SCategory">
    <mat-option style="color: black" *ngFor="let category of categories" [value]="category.Id">
      {{category.Category}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button style="height: 2.5rem" color="primary">Adicionar Dispositivo</button>
</div>
<div *ngIf="isSelected">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">Id</th>
          <th colspan="2">Color</th>
          <th colspan="2">PartNumber</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="line" *ngFor="let device of itens">
          <td colspan="2">{{ device.Id }}</td>
          <td colspan="2">{{ device.Color }}</td>
          <td colspan="2">{{ device.PartNumber }}</td>
          <td colspan="1">
            <button mat-flat-button color="warn" (click)="deleteItem(device.Id)">
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


